* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 30px 5px;
}

fieldset {
    width: 100%;
    max-width: 600px;
    border: none;
    background-color: #d3d3d3;
    padding: 30px 10px;
    border-radius: 20px;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.message {
    text-align: center;
    font-size: 18px;
}

.message.error {
    color: #ff0000;
}

.input-field {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

input {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #000;
    outline: none;
}

input:focus {
    border: 2px solid #000;
}

button {
    display: block;
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    border: 2px solid #000;
    margin: 40px auto auto;
    width: 100%;
    cursor: pointer;
    background-color: #fff;
}


